@media (prefers-color-scheme: dark) {
    :root {
      /* Dark mode variables go here */
    }
  }

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a,
.dark strong {
    color: #fff;
}

body.dark {
/* Dark mode variables go here */
    --ion-background-color: #111 !important;
}
.dark .setting_bs {
    background: #333 !important;
    --background: #333 !important;
    border: none;
}
.dark #container_write {
    --background: #111;
    background: #111;
}
.dark .slide_fils img {
    filter: brightness(50);
}

.dark ion-checkbox {
    --background: transparent;
}
.dark .control_cin img {
    filter: brightness(50);
}

.dark .list_cons {
    background: #333;
    --background: #333;
    border-bottom: 1px solid #505050;
}

.dark .ipad_spot .app_vers {
    color: #959595;
}


.dark .header_am{
    --background: #111 !important;
    background: #111 !important;
}
.dark ion-content {
    --background: #111 !important;
    background: #111 !important;
}
.dark .icons_s img {
    filter: brightness(50);
}
.dark .suppoets img {
    filter: brightness(50);
}
.dark .list_cons ion-label{
    color: #fff !important;
}
.dark .suppoets h3 {
    color: #FFF;
}
.dark .ens_sd img {
    filter: contrast(1);
}
.dark .menu_close img {
    filter: brightness(50);
}
.dark .icon_menus img {
    filter: brightness(50);
}
.dark .icon_menus {
    color: #fff;
}
.dark .bans_sj {
    color: #fff;
}
.dark .user_logout img {
    filter: brightness(50);
}


.dark .slide p {
    color: #fff !important;
}

.dark .kdh {
    display: none;
}
.dark .drak_mode {
    display: block;
}
.dark .sign_with h2{
    color: #fff;
}
.dark .or h2{
    color: #fff;
}
.dark .user_nam{
    border-color: #888;
    color: #999;
}
.dark .pdd_b input::placeholder {
    color: #fff;
}

.dark .selects_ins ion-select {
    color: #999;
    border-color: #888;
}

.dark .for_got a{
    color: #fff;
}
.dark .sign_doens{
    color: #fff;
}
.dark .logo{
    display: none;
}
.w-100{
    width: 100% !important;
}
.dark #container p{
    font-size: 21px;
    color: #fff;
}
.dark .texts_letts p {
    color: #bbbbbb !important;
}

.dark .active_letters .texts_letts p {
    color: #fff !important;
}

.dark .lettes {
    border-bottom: 1px solid #4a4a4a;
}


.dark .bor_b {
    border-bottom: 1px solid #4a4a4a;
}
.dark .texts_letts h3{
    color: #fff;
}
.dark .letter_pic{
    box-shadow: none;
}
.dark .upload img {
    filter: brightness(50);
}
.dark .user_ids {
    font-weight: 100;
    color: #959595;
}
.dark .alert-radio-label{
    color: #fff;
}
.dark .lock_unlock{
    border: 1px solid #4a4a4a;
    background-color: #333333;
}
.dark .img_unloacks img {
    filter: brightness(50);
}
.dark .contact_book img {
    filter: contrast(0);
}
.dark .back_foo ion-toolbar{
    background: #333;
    --background: #333;
    border-top: 1px solid #111;
}
.dark .icon_bn img {
    filter: brightness(50);
}
.dark .title_doc h3 {
    color: #fff;
}
.dark .innerr_b p {
    color: #333;
}
.dark .privew_r p,
.dark .privew_r p strong {
    color: #333;
}

.dark .pages_of p {
    color: #fff;
}

.dark .sincerely p {
    color: #333;
}
.dark .foo_bottom ion-toolbar {
    background: #4c4c4c !important;
    --background: #4c4c4c;
}

.dark .foo_bottom .custom_btn_export.button-solid {
    background: #4c4c4c;
    --background: #4c4c4c !important;
}

.dark .text_share h3 {
    color: #fff;
}
.dark .send_shares{
    background: #333333;
}

.dark .send_shares {
    border-color: #797979;
}

.dark .active-type {
    box-shadow: 0 0 0 1px #f1d000;
    border-color: #f1d000;
}

.dark .fax_box {
    background: #333;
    border-color: #4a4a4a;
}
.dark .num_tols {
    background: #555555;
}
.dark .g_total {
    background: #666666;
}
.dark .inner_details {
    border-color: #4a4a4a;
}
.dark .delete_btn a {
    color: #fff;
}
.dark .delete_btn img {
    filter: brightness(50);
}
.dark .alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
    width: 100%;
    max-width: 93%;
    background: #333333;
    color: #fff;
}
.dark .alert-title {
    color: #fff;
}
.dark .alert-sub-title{
    color: #fff;
}
.dark .alert-message{
    color: #fff;
}

.dark .clas_bn ion-toolbar {
    background: #111;
    --background: #111;
}

.dark .action-icon img {
    filter: invert(1);
}

.dark .segmnt .segment-button-checked {
    color: #f1d000;
}

.dark .segmnt ion-segment-button {
    color: #fff;
}

.dark .sign_doens a {
    color: #F1D000;
}

.dark .swiper-pagination-bullet {
    width: 14px;
    height: 4px;
    display: inline-block;
    border-radius: 0;
    background: #a3a2a3;
}
.dark .swiper-pagination-bullet-active {
    opacity: 1;
}

.dark ion-segment {
    border-bottom: 1px solid #4a4a4a;
}

.dark .Form-subject p {
    color: #bbb !important;
}

.dark .Form-subject-row {
    border-bottom: 1px solid #333;
}


.dark .contact_name_list ion-list {
    background: #333 !important;
}

.dark .contact-footer {
    background: #111;
}

.dark p.red_c {
    color: #ff5f57 !important;
}

.dark .green_p {
    color: #29c83f !important;
}

.dark .inner_history_details {
    border-bottom: 1px solid #4a4a4a;
}

.dark #container_write h5 {
    color: #fff;
}

.dark .row_01 p strong {
    color: #fff;
}

.dark .mobo-sitebar ion-item.active {
    --background: #2a2a2a !important;
}

.dark .user_name_email .email {
    color: #bbbbbb;
}

.dark .change-s-block p strong {
    color: #fff; 
}

.dark .change-s-block p {
    color: #bbb;  
}

.dark .upload-pdf-mobo .pdf_icons img {
    filter: brightness(100);
}

.dark .mobo-segmnt ion-label {
    color: #fff;  
}

.dark .segment-button-checked ion-label {
    color: #f1d000;
}

.dark .letters-description-block p {
    color: #bbbbbb;
}

.dark .date span {
    color: #bbbbbb;
}

.dark .active_letters .date span {
    color: #fff;
}

.dark .letters-img-block {
    box-shadow: 1px 1px 6px -1px #000;
}


.dark .SideBar {
    background-color: #333;
    border-color: #4a4a4a;
}

.dark .welcome_ipad {
    background: #111;
}

.dark .mail_open img {
    opacity: 0.3;
    filter: contrast(0.5);
}


.dark .ipad_topbar ion-toolbar {
    border-bottom: 1px solid #222;
    --background: #4c4c4c;
}

.dark span.popup_title {
    color: #fff;
}
.dark .close_popus img {
    filter: brightness(100);
}

.dark .main_iads {
    border: 1px solid #4a4a4a;
    background-color: #333;
}

.dark .border_bm {
    border-bottom: 1px solid #4a4a4a;
}

.dark .bg-white-light {
    background: #555;
}

.dark .fill_colortotal {
    background: #666;
}

.dark img.delete_print_btns {
    filter: invert(1);
}

.dark .search_bar input {
    background: transparent !important;
    color: #9C9C9C !important;
}

.dark .search_bar ion-searchbar {
    border: 1px solid #CCCCCC;
}

.dark .searchbar-input-container ion-icon {
    color: #999 !important;
}

.dark .inner_sizes {
    border: 1px solid #4a4a4a;
    background-color: #333333;
}

.dark .back_fooipad {
    background: #333333;
}

.dark .icon-hover:hover img {
    filter: brightness(0.5) !important;
}


.dark .change_sign_ipad p strong {
    color: #fff;
}

.dark .change_sign_ipad p {
    color: #bbb;
}

.dark .chosse_ipad {
    border: 1px dashed #aaaaaa;
    background-color: #4c4c4c;
}

.dark .icon_mipad {
    border: 1px solid #797979;
    background-color: #333333;
}

.dark .dark333 {
    background: #333 !important;
    --background: #333 !important;
}

.dark .contacts-inner-box {
    background: #333;
    display: inline-block;
    width: 100%;
}

.dark .main_conipad {
    background: #4c4c4c;
    border-bottom: 1px solid #777;
}

.dark .contactlist-desk .alpha p,
.dark .contactlist-desk ion-label, 
.dark .contactlist-desk .insd p,
.dark .desktop-segmnt ion-label {
    color: #fff !important;
}

.dark img.back-btn {
    filter: invert(1);
}

.dark .search_bts {
    border: 1px solid #888;
    color: #999;
}

.dark p.font_sels {
    color: #bbb;  
}

.dark .select-upload-text-ipad {
    color: #fff !important;
}

.dark .pdf_icons img {
    filter: invert(1);
}

.dark .setting-page-ipad .list_cons,
.dark .security-page-ipad .list_cons,
.dark .rating-page-ipad .list_cons {
    border-bottom: 0;
}

.dark img.delete_print_btns_01 {
    filter: invert(1);
}

.dark .account_ipads .inner_user_img {
    background-color: #333333;
}

.dark .inner_user_img img {
    width: 65%;
    filter: contrast(0);
}

.dark .pass_code {
    border-bottom: 4px solid #fff;
    background: transparent;
    color: #fff;
}

.dark .passcode-header .title,
.dark .passcode-header .title-2 {
    color: #fff;
}

.dark .passcode-header {
    border-bottom: 1px solid #4a4a4a;
}

.dark .login-Info-box .icon_in img {
    filter: contrast(0);
}

.dark .main_setting .list_cons {
    border-bottom: 0;
}

/* desktop  */

.dark .tag_line_desktop {
    color: #a0a0a0;
}

.dark .welcome_desktop {
    background: #111;
}

.dark .choosetemplate_hm ion-content,
.dark .choosetem ion-content {
    --background: #333 !important;
    background: #333 !important;
}

.dark .choosetemplate_hm .ipad_topbar,
.dark .choosetem .ipad_topbar {
    background: #4c4c4c;
}

.dark .ipad_topbar ion-toolbar {
    border-bottom: 1px solid #666565;
    --background: #4c4c4c;
}

.dark img.doc_pdf {
    filter: brightness(100);
}

.dark .up_load_c {
    color: #959595;
}

.dark .lettes_desk {
    background-color: #333333;
}

.dark .lettes_desk.active_letters {
    background: #f1d000;
}

.dark .desk_flx .desktop_vs {
    color: #fff !important;
}

.dark .black-down-arrow .button-solid img {
    filter: invert(0);
}

.dark .s_bar {
    border-bottom: 1px solid #4a4a4a;
}

.dark .contact-book-desktop img {
    filter: brightness(100) !important;
}

.dark .fullwiths ion-chip {
    border: 1px solid #333;
    background: #333;
}

.dark .fullwiths ion-chip ion-icon {
    color: #fff;
}

.dark .ipad_borders {
    border-left: 1px solid #4a4a4a;
}

.dark .ql-toolbar.ql-snow,
.dark .ql-container.ql-snow {
    border: 1px solid #4a4a4a;
}

.dark .quillWrapper .ql-snow .ql-stroke {
    stroke: #fff;
}

.dark .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #fff;
}

.dark .Lp-bg {
    background: #444;
}

.dark .desktop_pages_of {
    background: #333;
}

.dark .desktop_pages_of .arrow {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
}

.dark .desktop_pages_of img {
    filter: invert(1);
}

/* desktop  */



@media (max-width: 767.98px) {
    .dark .ion-overlay-wrapper {
        background: #333;
    }

    .dark .foo_bottom ion-toolbar {
        background: #333!important;
        --background: #333;
    }

    .dark .foo_bottom .custom_btn_export.button-solid {
        background: #333;
        --background: #333 !important;
    }

    .dark ion-toolbar.contact-footer-toolbar {
        background: #111111;
        --background: #111111;
    }

    .dark  .app_vers {
        color: #959595;
    }

    .dark .inner_user_img {
        background: #333;
    }
}
