@media (prefers-color-scheme: dark) {
    :root {
      /* Dark mode variables go here */
    }
  }

.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a,
.dark strong {
    color: #fff;
}

body.dark {
/* Dark mode variables go here */
    --ion-background-color: #111 !important;
}
.dark .setting_bs {
    background: #333 !important;
    --background: #333 !important;
    border: none;
}
.dark #container_write {
    --background: #111;
    background: #111;
}
.dark .slide_fils img {
    filter: brightness(50);
}
.dark .search_bts{
    color: #aaa;
}
.dark ion-checkbox {
    background: #333;
    --background: #333;
    box-shadow: none;
    border-style: unset;
    border-width: 1px !important;
}
.dark .control_cin img {
    filter: brightness(50);
}
.dark .list_cons {
    background: #333;
    --background: #333;
    border-bottom: 1px solid #505050;
}
.dark .header_am{
    --background: #111 !important;
    background: #111 !important;
}
.dark ion-content {
    --background: #111 !important;
    background: #111 !important;
}
.dark .icons_s img {
    filter: brightness(50);
}
.dark .suppoets img {
    filter: brightness(50);
}
.dark .list_cons ion-label{
    color: #fff !important;
}
.dark .suppoets h3 {
    color: #FFF;
}
.dark .ens_sd img {
    filter: brightness(50);
}
.dark .menu_close img {
    filter: brightness(50);
}
.dark .icon_menus img {
    filter: brightness(50);
}
.dark .icon_menus {
    color: #fff;
}
.dark .bans_sj {
    color: #fff;
}
.dark .user_logout img {
    filter: brightness(50);
}
.drak_mode img{
    width: 80%;
}
.dark .kdh {
    display: none;
}
.dark .drak_mode {
    display: block;
}
.dark .sign_with h2{
    color: #fff;
}
.dark .or h2{
    color: #fff;
}
.dark .user_nam{
    border-color: #cccccc;
}
.dark .pdd_b input::placeholder {
    color: #fff;
}

.dark .selects_ins ion-select {
    color: #999;
    border-color: #cccccc;
}

.dark .for_got a{
    color: #fff;
}
.dark .sign_doens{
    color: #fff;
}
.dark .logo{
    display: none;
}
.w-100{
    width: 100% !important;
}
.dark #container p{
    font-size: 21px;
    color: #fff;
}
.dark .texts_letts p{
    color: #bbbbbb !important;
}
.dark .bor_b {
    border-bottom: 1px solid #4a4a4a;
}
.dark .texts_letts h3{
    color: #fff;
}
.dark .letter_pic{
    box-shadow: none;
}
.dark .upload img {
    filter: brightness(50);
}
.dark .user_ids {
    font-weight: 100;
    color: #959595;
}
.dark .alert-radio-label{
    color: #fff;
}
.dark .lock_unlock{
    border: 1px solid #4a4a4a;
    background-color: #333333;
}
.dark .img_unloacks img {
    filter: brightness(50);
}
.dark .contact_book img {
    filter: brightness(50);
}
.dark .back_foo ion-toolbar{
    background: #333;
    --background: #333;
    border-top: 1px solid #111;
}
.dark .icon_bn img {
    filter: brightness(50);
}
.dark .title_doc h3 {
    color: #fff;
}
.dark .innerr_b p {
    color: #333;
}
.dark .privew_r p,
.dark .privew_r p strong {
    color: #333;
}

.dark .pages_of p {
    color: #fff;
}

.dark .sincerely p {
    color: #333;
}
.dark .foo_bottom ion-toolbar {
    background: #333 !important;
    --background: #333;
}
.dark .custom_btn_export.button-solid {
    background: #333;
    --background: #333 !important;
}
.dark .text_share h3 {
    color: #fff;
}
.dark .send_shares{
    background: #333333;
}

.dark .send_shares {
    border-color: #797979;
}

.dark .active-type {
    box-shadow: 0 0 0 1px #f1d000;
    border-color: #f1d000;
}

.dark .fax_box {
    background: #333;
    border-color: #4a4a4a;
}
.dark .num_tols {
    background: #555555;
}
.dark .g_total {
    background: #666666;
}
.dark .inner_details {
    border-color: #4a4a4a;
}
.dark .delete_btn a {
    color: #fff;
}
.dark .delete_btn img {
    filter: brightness(50);
}
.dark .alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
    width: 100%;
    max-width: 93%;
    background: #333333;
    color: #fff;
}
.dark .alert-title {
    color: #fff;
}
.dark .alert-sub-title{
    color: #fff;
}
.dark .alert-message{
    color: #fff;
}
ion-backdrop {
    background: #000;
    opacity: 0.7 !important;
}
.dark .clas_bn ion-toolbar {
    background: #111;
    --background: #111;
}

.dark .action-icon img {
    filter: invert(1);
}

.dark .segmnt .segment-button-checked {
    color: #f1d000;
}

.dark .segmnt ion-segment-button {
    color: #fff;
}

.dark .sign_doens a {
    color: #F1D000;
}

.dark .swiper-pagination-bullet {
    width: 14px;
    height: 4px;
    display: inline-block;
    border-radius: 0;
    background: #fff;
    opacity: 0.2;
}
.dark .swiper-pagination-bullet-active {
    opacity: 1;
}

.dark ion-segment {
    border-bottom: 1px solid #4a4a4a;
}

.dark .Form-subject p {
    color: #bbb !important;
}

.dark .Form-subject-row {
    border-bottom: 1px solid #333;
}


.dark .contact_name_list ion-list {
    background: #333 !important;
}

.dark .contact-footer {
    background: #111;
}

.dark p.red_c {
    color: #ff5f57 !important;
}

.dark .green_p {
    color: #29c83f !important;
}

.dark .inner_history_details {
    border-bottom: 1px solid #4a4a4a;
}

.dark #container_write h5 {
    color: #fff;
}

.dark .row_01 p strong {
    color: #fff;
}

.dark .mobo-sitebar ion-item.active {
    --background: #797979;
}

.dark .user_name_email .email {
    color: #bbbbbb;
}

.dark .change-s-block p strong {
    color: #fff; 
}

.dark .change-s-block p {
    color: #bbb;  
}

.dark .upload-pdf-mobo .pdf_icons img {
    filter: brightness(100);
}

.dark .mobo-segmnt ion-label {
    color: #fff;  
}

.dark .segment-button-checked ion-label {
    color: #f1d000;
}

.dark .letters-description-block p {
    color: #bbbbbb;
}

.dark .date span {
    color: #bbbbbb;
}

.dark .letters-img-block {
    box-shadow: 1px 1px 6px -1px #000;
}

@media (max-width: 767.98px) {
    .dark .ion-overlay-wrapper {
        background: #333;
    }
}
